<h1> Login form </h1>


<li>
	<a href="/register">Sign up </a>
</li>

<li>
	<a href="/login">Login </a>
</li>


<li>
	<a href="/logout">Logout  </a>
</li>



<form action="/Login" method="post">
	
	<input type="text" placeholder="username" name="username">

	<input placeholder="password" type="password" name="password">

	<button>Login</button>
</form>